#raw {
	text-align: center;
}

.layout {
    background-color: #f3f6ff;
}

.searchbare {
	margin-top: 280px;
	padding-left: 280px;
	padding-right: 280px;
	min-height: 280px;
}

.searchbare.IsSearched {
	margin-top: 0px;
	transition: margin .5s;
}
